Try/Try/Web References/LukeRefL2/l2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.xdel.com/L2/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.xdel.com/L2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.xdel.com/L2/">
      <s:element name="GetL2Drivers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetL2DriversResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetL2DriversResult" type="tns:ArrayOfDriverObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDriverObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DriverObject" nillable="true" type="tns:DriverObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DriverObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DriverIDX" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nick" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vehicles" type="tns:ArrayOfVehicleObject" />
          <s:element minOccurs="1" maxOccurs="1" name="DateStarted" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTerminated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LastKnownLocation" type="tns:LocationInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="IdleDetected" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BattPCT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BattLastUpdate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVehicleObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VehicleObject" nillable="true" type="tns:VehicleObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VehicleObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VehicleIDX" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleType" type="tns:VehicleTypeObject" />
          <s:element minOccurs="0" maxOccurs="1" name="LicensePlate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxWeight" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxVolume" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VehicleTypeObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VehicleTypeIDX" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocationInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Accuracy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLocations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ADriverIDX" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRecords" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationsResult" type="tns:ArrayOfLocationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocationInfo" nillable="true" type="tns:LocationInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPastLocations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ADriverIDX" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FromDateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ToDateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRecords" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPastLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPastLocationsResult" type="tns:ArrayOfLocationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfDriverObject" nillable="true" type="tns:ArrayOfDriverObject" />
      <s:element name="ArrayOfLocationInfo" nillable="true" type="tns:ArrayOfLocationInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetL2DriversSoapIn">
    <wsdl:part name="parameters" element="tns:GetL2Drivers" />
  </wsdl:message>
  <wsdl:message name="GetL2DriversSoapOut">
    <wsdl:part name="parameters" element="tns:GetL2DriversResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPastLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPastLocations" />
  </wsdl:message>
  <wsdl:message name="GetPastLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPastLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetL2DriversHttpGetIn">
    <wsdl:part name="APIKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetL2DriversHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDriverObject" />
  </wsdl:message>
  <wsdl:message name="GetLocationsHttpGetIn">
    <wsdl:part name="APIKey" type="s:string" />
    <wsdl:part name="ADriverIDX" type="s:string" />
    <wsdl:part name="NumberOfRecords" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLocationsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLocationInfo" />
  </wsdl:message>
  <wsdl:message name="GetPastLocationsHttpGetIn">
    <wsdl:part name="APIKey" type="s:string" />
    <wsdl:part name="ADriverIDX" type="s:string" />
    <wsdl:part name="FromDateTime" type="s:string" />
    <wsdl:part name="ToDateTime" type="s:string" />
    <wsdl:part name="NumberOfRecords" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPastLocationsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLocationInfo" />
  </wsdl:message>
  <wsdl:message name="GetL2DriversHttpPostIn">
    <wsdl:part name="APIKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetL2DriversHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDriverObject" />
  </wsdl:message>
  <wsdl:message name="GetLocationsHttpPostIn">
    <wsdl:part name="APIKey" type="s:string" />
    <wsdl:part name="ADriverIDX" type="s:string" />
    <wsdl:part name="NumberOfRecords" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLocationsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLocationInfo" />
  </wsdl:message>
  <wsdl:message name="GetPastLocationsHttpPostIn">
    <wsdl:part name="APIKey" type="s:string" />
    <wsdl:part name="ADriverIDX" type="s:string" />
    <wsdl:part name="FromDateTime" type="s:string" />
    <wsdl:part name="ToDateTime" type="s:string" />
    <wsdl:part name="NumberOfRecords" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPastLocationsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLocationInfo" />
  </wsdl:message>
  <wsdl:portType name="L2Soap">
    <wsdl:operation name="GetL2Drivers">
      <wsdl:input message="tns:GetL2DriversSoapIn" />
      <wsdl:output message="tns:GetL2DriversSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsSoapIn" />
      <wsdl:output message="tns:GetLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPastLocations">
      <wsdl:input message="tns:GetPastLocationsSoapIn" />
      <wsdl:output message="tns:GetPastLocationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="L2HttpGet">
    <wsdl:operation name="GetL2Drivers">
      <wsdl:input message="tns:GetL2DriversHttpGetIn" />
      <wsdl:output message="tns:GetL2DriversHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsHttpGetIn" />
      <wsdl:output message="tns:GetLocationsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPastLocations">
      <wsdl:input message="tns:GetPastLocationsHttpGetIn" />
      <wsdl:output message="tns:GetPastLocationsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="L2HttpPost">
    <wsdl:operation name="GetL2Drivers">
      <wsdl:input message="tns:GetL2DriversHttpPostIn" />
      <wsdl:output message="tns:GetL2DriversHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsHttpPostIn" />
      <wsdl:output message="tns:GetLocationsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPastLocations">
      <wsdl:input message="tns:GetPastLocationsHttpPostIn" />
      <wsdl:output message="tns:GetPastLocationsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="L2Soap" type="tns:L2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetL2Drivers">
      <soap:operation soapAction="http://www.xdel.com/L2/GetL2Drivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://www.xdel.com/L2/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPastLocations">
      <soap:operation soapAction="http://www.xdel.com/L2/GetPastLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="L2Soap12" type="tns:L2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetL2Drivers">
      <soap12:operation soapAction="http://www.xdel.com/L2/GetL2Drivers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap12:operation soapAction="http://www.xdel.com/L2/GetLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPastLocations">
      <soap12:operation soapAction="http://www.xdel.com/L2/GetPastLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="L2HttpGet" type="tns:L2HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetL2Drivers">
      <http:operation location="/GetL2Drivers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <http:operation location="/GetLocations" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPastLocations">
      <http:operation location="/GetPastLocations" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="L2HttpPost" type="tns:L2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetL2Drivers">
      <http:operation location="/GetL2Drivers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <http:operation location="/GetLocations" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPastLocations">
      <http:operation location="/GetPastLocations" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="L2">
    <wsdl:port name="L2Soap" binding="tns:L2Soap">
      <soap:address location="http://www.xdel.com/lukews/l2.asmx" />
    </wsdl:port>
    <wsdl:port name="L2Soap12" binding="tns:L2Soap12">
      <soap12:address location="http://www.xdel.com/lukews/l2.asmx" />
    </wsdl:port>
    <wsdl:port name="L2HttpGet" binding="tns:L2HttpGet">
      <http:address location="http://www.xdel.com/lukews/l2.asmx" />
    </wsdl:port>
    <wsdl:port name="L2HttpPost" binding="tns:L2HttpPost">
      <http:address location="http://www.xdel.com/lukews/l2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>